# MongoDB
pymongo==4.5.0
motor==3.3.2

# باقي المكتبات زي ما هي
aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
pillow==11.2.1
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml==6.0.2
requests
speedtest-cli
spotipy
tgcrypto
youtube-search
youtube-search-python==1.6.6
git+https://github.com/yt-dlp/yt-dlp.git
